{% extends 'layouts/base.html' %} 
{% block content %}
    <title>Task Description</title>
    <main class="container mt-5 pt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center" >Description</h1>
                <p class="card card-body bg-light">{{task_description}}</p>
                <a class="btn btn-dark col-md-2 offset-md-2 fixed-bottom mb-5" href="{% url 'project_detail' p_id %}" style="margin-left: 42%;">
                    <i class="bi bi-arrow-90deg-left me-1"></i>Volver
                </a>
            </div>
        </div>
    </main>
{% endblock content %}
    